.profile__image {
    border-radius: 120px;
    margin-right: 35px;
}

@media screen and (max-width: 767px) {
    .profile__image {
        justify-self: center;
        margin-right: 0px;
    }
 }