.popup__content {
    max-width: 430px;     
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 36px;
}

@media screen and (max-width: 767px) {
    .popup__content {
        width: calc(100% - 19px * 2);
        max-width: none;
        max-height: 332px;
        padding: 22px;
    }
}