.profile__add-button {
    width: 150px;
    height: 50px;
    justify-self: flex-end;
    align-self: center;
    border: 2px solid white;
    outline: none;
    background: transparent url('../../../images/plus-button.png') center no-repeat;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
         margin-top: 36px;
         width: 100%;
    }
 }

.profile__add-button:hover {
    opacity: .6;
    transition-duration: .7s;
}