.profile__add-button {
    width: 150px;
    height: 50px;
    justify-self: flex-end;
    align-self: center;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
     transition-duration: .7s;
    background: transparent url('../../../images/add_button.svg') center no-repeat;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
         margin-top: 36px;
         width: 100%;
        background-size: 16px 16px;
    }
 }

.profile__add-button:hover {
    opacity: .6;   
}