.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}